<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<body>
  <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
</body>
</html>
